@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4">Welcome to Client B</h1>
<p class="lead">
    This is sample client site B, to visit the content of this site, you need to log in first.
</p>
<hr class="my-4" />
<p class="text-right"><a href="@ViewBag.AuthenticationUrl">Login here</a></p>
